__pycache__/
*.pyc
*.pyo
.pytest_cache/

logs/
*.log

config/local.yaml
config/device_id.txt
config/last_login.json
config/device_meta.json

.env

dist/
build/
*.exe
*.lrj
*.spec

tools/adb/platform-tools/
ui/dialogs/desktop.ini
*.ini
